esphome:
  name: esphome-web-61c330
  friendly_name: OpenTherm
  min_version: 2025.9.0
  name_add_mac_suffix: false

esp8266:
  board: esp01_1m

# Enable logging
logger:

# Enable Home Assistant API
api:

# Allow Over-The-Air updates
ota:
- platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  min_auth_mode: wpa2

# Declare the phisical pins that OpenTherm adapter is connected to
opentherm:
  in_pin: 5
  out_pin: 4

# Outputs are controlled by some other components, not manually
output:
  - platform: opentherm
    t_set:
      id: ch_setpoint
      auto_max_value: true
      min_value: 20
      zero_means_zero: true

# Values that can be set maually from HA interface
number:
  - platform: opentherm
    t_dhw_set:
      id: dhw_setpoint
      name: "Hot Water target temperature"
      auto_max_value: true
      auto_min_value: true
      restore_value: true
      initial_value: 45

# Switches that can be operated manually from HA interface
switch:
  - platform: opentherm
    ch_enable:
      id: ch_enable
      name: "Central Heating enabled"
      restore_mode: RESTORE_DEFAULT_OFF
    dhw_enable:
      id: dhw_enable
      name: "Hot Water enabled"
      restore_mode: RESTORE_DEFAULT_OFF

# Boiler numeric sensors
sensor:
  - platform: opentherm
    rel_mod_level:
      id: rel_mod_level
      name: "Boiler Relative modulation level"
    t_boiler:
      id: ch_temp
      name: "Boiler Feed Temperature"

  - platform: homeassistant
    id: room_temp
    entity_id: sensor.bte_0005_temperature
    filters:
      # Push room temperature every second to update PID parameters
      - heartbeat: 1s

# Boiler binary (True/False) sensors
binary_sensor:
  - platform: opentherm
    ch_active:
      id: ch_active
      name: "Boiler Central Heating active"
    dhw_active:
      id: dhw_active
      name: "Boiler Hot Water active"
    flame_on:
      id: flame_on
      name: "Boiler Flame on"
    fault_indication:
      id: boiler_fault
      name: "Boiler Fault"
      entity_category: diagnostic
    diagnostic_indication:
      id: boiler_diagnostic
      name: "Boiler Diagnostic"
      entity_category: diagnostic

# PID control
climate:
  - platform: pid
    id: boiler_pid
    name: "Central heating"
    heat_output: ch_setpoint
    default_target_temperature: 20
    sensor: room_temp
    visual:
      min_temperature: 15
      max_temperature: 30
      temperature_step:
        target_temperature: 0.5
        current_temperature: 0.1
    control_parameters: 
      kp: 0.5
      ki: 0.001
      kd: 0